{% extends 'base.html' %}



{% block content %}
  <!-- Page content-->
<section class="py-5">
  <div class="container px-5">
      <!-- Contact form-->
      <div class="bg-light rounded-4 py-5 px-4 px-md-5">
          <div class="text-center mb-5">
              <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
              <h1 class="fw-bolder">Tu libro está en camino</h1>
              <p class="lead fw-normal text-muted mb-0">Número de orden: {{collection_id}}</p>
              <p class="lead fw-normal text-muted mb-0">Gracias por tu compra</p>
              <p class="lead fw-normal text-muted mb-0">Fecha de entrega: 30 de noviembre de 2023</p>
          </div>
          <div class="row gx-5 justify-content-center">
              <div class="col-lg-8 col-xl-6">
                  <!-- * * * * * * * * * * * * * * *-->
                  <!-- * * SB Forms Contact Form * *-->
                  <!-- * * * * * * * * * * * * * * *-->
                  <!-- This form is pre-integrated with SB Forms.-->
                  <!-- To make this form functional, sign up at-->
                  <!-- https://startbootstrap.com/solution/contact-forms-->
                  <!-- to get an API token!-->
              </div>
            </div>
        </div>
  </div>
</section>
{% endblock %}